.about {
    display: flex;
    text-align: center;
    padding-top: 30px;
    transition: all 0.3s;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about__image {
    display: none;
    margin-top: 200px;
    margin-right: 20px;
    width: 100%;
    height: auto;
    max-width: 340px;
    transition: all 0.3s;
}

.about__text {
    margin: 0 10px;
}

.about__info {
    margin: 0 auto;
}

@media (min-width: 450px) {
    .about__header {
        margin-left: 10px;
    }
}

@media (min-width: 850px) {
    .about {
        text-align: left;
    }
    .about__image {
        display: block;
        margin-left: 50px;
    }
    .about {
        padding: 0;
        margin-left: 100px;
        min-height: 780px;
    }
    .about__header {
        margin-top: 200px;
    }
}

@media (min-width: 992px) {
    .about__image {
        max-width: 420px;
        margin-left: 130px;
    }
}

@media (min-width: 1200px) {
    .about__image {
        margin-top: 150px;
        max-width: 600px;
    }
}
