.commentary {
    text-align: center;
    text-transform: uppercase;
    min-width: 300px;
    max-width: 955px;
    border: 1px solid $second-font-color;
    transition: all 0.3s;
}

.commentary__body {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

}

.commentary__photo {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: all 0.3s;

}

.commentary__name {
    color: rgba($color: $second-font-color, $alpha: 0.9);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: all 0.3s;

}

.commentary__annotation {
    color: rgba($color: $second-font-color, $alpha: 0.9);
    font-style: italic;
    transition: all 0.3s;

}

.commentary__text {
    color: rgba($color: $second-font-color, $alpha: 0.6);
    max-width: 570px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all 0.3s;

}

@media (min-width: 576px) {
    .commentary {
        display: flex;
        justify-content: center;
    }
    .commentary__body {
        margin: 85px 10px 40px 30px;
    }
    .commentary__photo {
        margin-top: 85px;
        margin-left: 30px;
    }
}

@media (min-width: 768px) {
    .commentary__body {
        margin-right: 75px;
    }
}

@media (min-width: 992px) {
    .commentary {
        text-align: left;
    }
    .commentary__photo {
        margin-left: 120px;
    }
    .commentary__text {
        margin-bottom: 60px;
    }
    .carousel {
        text-align: center;
    }
}

