:root {
    box-sizing: border-box;
    font-size: 1em;
    scroll-behavior: smooth;
}
  
*,
::before,
::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    color: $main-color;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

img {
    max-width: 100%;
}


.logo {
    margin-top: 2em;
    padding-right: 1.3em;
}

@media (min-width: 64em) {
    .big-screens {
        display: flex;
    }
    .big-screens--nav {
        justify-content: space-around;
    }
    .logo {
        margin-top: 4em;
    }
    #flex-image {
        display: inline-block;
    }
}