:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*,
::before,
::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.page {
    font-family: $main-font;
    color: $main-font-color;
    max-width: 1370px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $main-font-color;
}

img {
    width: 100%;
}

.content {
    margin-right: 30px;
    margin-left: 30px;
}

@media (max-width: 420px) {
    .content {
        margin: 0;
    }
}