.header {
    position: relative;
}

.header-bg {
    background-image: url(../img/header_bg.png);
    background-size: cover;
    min-height: 800px;
}

.header__logo {
    padding-top: 30px;
}

.header__button {
    margin-top: 30px;
    margin-right: 20px;
}

@media (max-width: 480px) {
    .header__button-section {
        display: flex;
    }
    .header__button {
        margin-right: 5px;
        margin-left: 5px;
    }
    
}

@media (max-width: 420px) {
    .header_button {
        display: flex;
        justify-content: center;
    }
}