.info {
    flex-direction: column;
}

.info__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__block--left {
    background-color: $secondary-color;
}

.info__block--right {
    background-color: $button-color;
}

.info__block--feature {
    max-width: 320px;
}

.info__block__picture {
    margin-top: 7.5em;
    margin-bottom: 3.5em;
}

.info__block__picture--left {
    margin-top: 10.9375em;
}

.info__block__picture--right {
    color: $secondary-color;
    font-size: 8.375rem;
    font-weight: 700;
    margin-top: 1.343em;
    margin-bottom: 0.641em;
}

.info__block__header {
    font-size: 2.25rem;
    font-weight: 700;
}

.info__block__header--medium {
    font-size: 1.875rem;
    padding-top: 1.4em;
    color: $features-header-color;
    font-family: $secondary-font;
}

.info__block__header--black {
    color: $secondary-color;
    margin: 1em 0;
}

.info__block__body {
    font-size: 0.875rem;
    padding: 2em 3em 2.64em;
    line-height: 24px;
    text-align: center;
}

.info__block__body--gray {
    color: $clients-font-color;
    padding: 0 2em 3em;

}

.info__block .button {
    margin-bottom: 6.875em;
}

.info__block__underline {
    padding: 0 2.5em;
    border-bottom: 3px solid rgba($color: $secondary-color, $alpha: 0.5);
}


@media (min-width: 64em) {
    .info {
        flex-direction: row;
    }
}