.logo {
    font-family: $second-font;
    transition: all 0.3s;
}

.logo_image {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logo__sign {
    color: $main-font-color;
    font-size: 40px;
    margin-top: 15px;
    text-transform: uppercase;
}

.logo__subsign {
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 300;
    padding: 5px;
    text-align: center;
    background-color: #B7D9B1;
}

@media (max-width: 420px) {
    .logo {
        transform: scale(0.75) translate(-40px);
    }
}