.name {
    font-weight: 500;
    margin-top: 160px;
}

.name__header {
    font-size: 90px;
    margin-bottom: 20px;
}

.name__subheader {
    font-size: 22px;
    opacity: 0.54;
    text-indent: 7px;
}

@media (max-width: 420px) {
    .name {
        text-align: center;
    }
    .name__header {
        font-size: 80px;
    }
}