.nav {
    position: relative;
    margin-right: 30px;
}

.nav__icon {
    position: absolute;
    right: -5px;
    top: -85px;
    font-size: 40px;
    padding: 10px 13px;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
}

.nav__icon:hover {
    background-color: $main-bg-color;
    border-radius: 50%;
}

.nav__icon:active {
    background-color: rgba($color: $main-bg-color, $alpha: 0.6);
    opacity: 0.85;
}

.nav__list {
    position: absolute;
    display: none;
    right: 5px;
}

.nav__list_is-opened {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav__item {
    font-size: 25px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}

.nav__item:hover,
.nav__item_active,
.nav__item:focus {
    border-bottom: 2px solid rgba($color: $main-font-color, $alpha: 0.6)
}

@media (min-width: 992px) {
    .nav__icon {
        display: none;
    }
    .nav__list {
        display: flex;
        margin-top: -70px;
    }
    .nav__item {
        padding-bottom: 8px;
        margin: 0;
        margin-right: 40px;
    }
}