 .section-header {
    color: rgba($color: $main-font-color, $alpha: 0.8);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 5.52px;
    text-transform: uppercase;
}

.section-header__overline {
    border-top: 4px solid rgba($color: $second-font-color, $alpha: 0.6);
}

.section-header_fixed-size {
    margin: 0 auto;
    max-width: 400px;
}

.section-header_theme_white {
    color: #fff;
}

.section-header__overline_theme_white {
    border-top: 4px solid rgba($color: #fff, $alpha: 0.6)
}

@media (min-width: 576px) {
    .section-header {
        font-size: 46px;
    }
}

@media (min-width: 850px) {
    .section-header_fixed-size {
        margin: 0;
        margin-top: 200px;
    }
}