.social {
    display: inline-block;
}

.social__item {
    display: inline-block;
    padding: 16px 14px;
    background-color: #fff;
}

.social__item:hover {
    background-color: #3498db;
    color: #fff;
}

@media (min-width: 976px) {
    .social__item {
        padding: 8px 6px;
    }
}