.testimonials {
    position: relative;
    background-color: $main-bg-color;
    min-height: 620px;
    padding-left: 10px;
    padding-right: 10px;
}

.testimonials__section-header {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}

.testimonials__commentary {
    margin: 0 auto;
}


