.clients,
.clients__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients__picture--big {
    margin-bottom: 2em;
}

.clients__header--inside {
    display: none;
}

@media (min-width: 30em) {
    .clients {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .clients__picture {
        margin-right: 1.5em;
    }
}
@media (min-width: 81.05em) {
    .clients {
        justify-content: space-around;
    }
    .clients__picture {
        margin: 0;
    }
    .clients__header--inside {
        display: block;
        max-width: 325px;
    }
    .clients__header--outside {
        display: none;
    }
    .clients__sign {
        margin-left: 0.9em;
    }
    .clients__subsign {
        text-align: left;
    }
}