.nav {
    margin-top: 2.6875em;
    margin-bottom: 3.875em;
}

.nav > li {
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}

.nav > li:hover:not(:first-child) {
    border-bottom: 1px solid $secondary-color;
}

.active {
    color: $button-color;
    font-weight: 700;
}

.active:hover {
    border-bottom: 1px solid $features-header-color;
}

.nav > li:not(:last-child) {
    margin-right: 2.2em;
}

.nav > li:last-child {
    margin-right: 1em;
}


.nav a:focus {
    color: $button-color;
}

.nav--footer {
    justify-content: center;
}

.nav--footer a {
    color: $main-color;
    padding-bottom: 10px;
    transition: all 0.3s;
}

.nav--footer li {
    padding-bottom: 0.625em;
    margin: 1.5em 1.3em;
    border-bottom: 1px solid transparent;
}

.nav--footer li:hover {
    border-bottom: 1px solid rgba($color: $main-color, $alpha: 0.16);
}

@media (min-width: 64em) {
    .logo {
        float: left;
    }
    .nav {
        margin: 74px 0 64px;
    }
    .nav--footer {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav--footer a:hover {
        color: $button-color;
    }
    .nav--footer li:not(:last-child) {
        margin: 0 0 0.625em;
        padding-left: 1.25em;
        border-bottom: 1px solid rgba($color: $main-color, $alpha: 0.16);
    }
    .nav--footer li:last-child {
        margin: 0.625em 0 2.75em;
    }
    .nav--footer li:last-child:hover {
        border-bottom: 1px solid transparent;
    }
}