$main-font: 'Raleway', sans-serif;
$secondary-font: 'Rockwell', "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
$main-color: #ffffff;
$secondary-color: #202242;
$button-color: #ffe13e;
$commentary-font-color: #696969;
$commentary-bg-color: #f5f3f3;
$features-header-color: #f4d320;
$features-bg-color: #fbf8f1;
$clients-font-color: #adadad;